
<br>
<br>
<br>
<br>

<ion-content>
  <form #main="ngForm" (ngSubmit)="formdata(main)">

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" ngModel name="email" #email="ngModel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" ngModel name="password" #password="ngModel"></ion-input>
  </ion-item>

  <ion-button expand="block" color="danger" type="submit">Login</ion-button>

  </form>


 <span>if dont have account <a expand="block" color="primary" href="/register">Register</a></span>
</ion-content>
