<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>


  <ion-grid>  
    <ion-row >  
      <ion-col size="10" id="a" >


  <ion-list>


    <ion-item>
      <form #main="ngForm" (ngSubmit)="formdata(main)" >
<ion-input type="text" fill="solid"  name="description" #description="ngModel" ngModel></ion-input>
<ion-input type="text" fill="solid"  [(ngModel)]="User_ID" name="user_id" ></ion-input>
<ion-button type="submit" fill="solid" >Add</ion-button>
      </form>

   </ion-item >
         
   
      <div class="row row-cols-1 row-cols-md-3 g-4">

   

        <div class="col" *ngFor="let x of tasks ; let i = index">
          <div class="card">
            <div class="card-body">
              <p class="card-text">{{x.description}}</p>
            </div>
          </div>
        </div>
  

      </div>


</ion-list>

</ion-col>
</ion-row>  
</ion-grid>  
   

</ion-content>
